name: Build and push Docker image to Docker Hub

on:
  push:
    branches: [ "main" ] # Triggers on push events to the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push the Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: creativeteas2/void:latest
